* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth !important;
}

.dash_container {
    display: flex;

    .dash_menu {
        border: 30px solid rgba(254, 212, 0, 1);
    }

    .dash_routes {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.modal-dialog {
    max-width: 60% !important;

    @media (max-width: 800px) {
        max-width: 95% !important;


    }
}

//estilos para la pagina de inicio
//color dependiendo del estado
.Alive {
    color: green;
    font-weight: bold;

    &::after {
        content: ".";
        width: 20px;
        height: 20px;
        color: green;
        font-size: 60px;
        line-height: 0;
    }
}

.Dead {
    color: red;
    font-weight: bold;

    &::after {
        content: ".";
        width: 20px;
        height: 20px;
        color: red;
        font-size: 60px;
        line-height: 0;
    }
}

.unknown {
    color: gray;
    font-weight: bold;

    &::after {
        content: ".";
        width: 20px;
        height: 20px;
        color: gray;
        font-size: 60px;
        line-height: 0;
    }
}