.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100vh;

    @media (max-width: 1160px) {
        background-image: url("../Styles/Images/login2.png");
        background-repeat: no-repeat;
        background-position: left;
        background-size: 500px;
    }

    @media (max-width: 500px) {
        background-position: center;
        background-size: contain;
    }


    .login_img {
        margin-left: 90px;
        margin-right: 90px;

        @media (max-width: 1160px) {
            display: none;
        }

        img {
            width: 500px;
        }
    }


    .login_container__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 90px;
        margin-right: 90px;
        width: 450px;


        @media (max-width: 500px) {
            width: 95%;
            margin: 0;
        }

        .login_form {
            h1 {
                margin-bottom: 16px;
            }

            width: 450px;
            margin-top: 15px;

            @media (max-width: 500px) {
                width: 95%;
            }

            .login_form__inputs {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 14px;
                    color: rgb(8, 9, 52);
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                input {
                    border: 1px solid rgb(219, 219, 219);
                    border-radius: 5px;
                    height: 40px;
                    padding: 0 10px;
                    font-size: 14px;
                    color: rgb(8, 9, 52);
                    margin-bottom: 15px;
                }

                .login_error {
                    color: red;
                    font-size: 13px;
                    margin-top: -10px !important;
                    font-style: italic;
                    margin-bottom: 10px !important ;
                }
            }
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            height: 40px;
            width: 100%;
            background-color: #209042;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            margin-top: 15px;
            transition: 0.3s all ease-in-out;

            i {
                font-size: 20px;
                color: white;
            }

            &:hover {
                background-color: transparent;
                color: #209042;
                border: 2px solid #209042;
                transform: scale(1.02);
            }
        }
    }

    .login_social__btn {
        width: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;

        @media (max-width: 500px) {
            width: 95%;
        }
    }

    .login_change {
        width: 450px;

        @media (max-width: 500px) {
            width: 95%;
        }

        h1 {
            font-size: 22px;
            margin-top: 25px;
            text-align: center;
        }

        button {
            width: 100%;
        }
    }
}

.bar {
    margin-top: 15px;
    border: 0.1px solid #7e536e;
    width: 95%;
}