//estilos de la busqueda
.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    text-align: center;

    @media (max-width: 310px) {
        width: 100%;     
    }

    input {
        height: 40px;
        width: 300px;
        padding: 10px;
        border-radius: 4px;
        outline: none;
        border: 2px solid #cfcfcfdb;

        @media (max-width: 310px) {
            width: 90%;
        }
    }
}