* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth !important;
}

.dash_container {
    display: flex;

    .dash_menu {
        border: 30px solid rgba(254, 212, 0, 1);
    }

    .dash_routes {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
.modal-dialog{
    max-width: 60% !important;
    @media (max-width: 800px) {
        max-width: 95% !important;
    
        
    }
}

//estilos para la pagina de inicio
//color dependiendo del tipo de pokemon
.water {
    background-color: #1154e9;
}
.poison {
    background-color: #622c8e;
}
.fire {
    background-color: #b12120;
}
.bug {
    background-color: #214d24;
}
.normal {
    background-color: #79565d;
}
.grass {
    background-color: #108141;
}
.flying {
    background-color: #4b6d81;
}
.electric {
    background-color: #efee32;
}
.ground {
    background-color: #ae7a35;
}
.fairy {
    background-color: #9f1843;
}
.fighting {
    background-color: #9d4221;
}
.psychic {
    background-color: #ab2c6c;
}
.ghost {
    background-color: #33346d;
}
.rock {
    background-color: #4b180d;
}
.ice {
    background-color: #86dcff;
}
.dragon {
    background-color: #44929c;
}
.dark {
    background-color: #010506;
}
.steel {
    background-color: #647b73;
}
.unknown {
    background-color: #000000;
}


//clases para el fondo de cada tarjeta
.waterclass {
    background: radial-gradient(circle at 50% -60%, #1154e9 60%, transparent 60.5%);
    border-radius: 8px;
}
.poisonclass {
    background: radial-gradient(circle at 50% -60%, #622c8e 60%, transparent 60.5%);
    border-radius: 8px;
}
.fireclass {
    background: radial-gradient(circle at 50% -60%, #b12120 60%, transparent 60.5%);
    border-radius: 8px;
}
.bugclass {
    background: radial-gradient(circle at 50% -60%, #214d24 60%, transparent 60.5%);
    border-radius: 8px;
}
.normalclass {
    background: radial-gradient(circle at 50% -60%, #79565d 60%, transparent 60.5%);
    border-radius: 8px;
}
.grassclass {
    background: radial-gradient(circle at 50% -60%, #108141 60%, transparent 60.5%);
    border-radius: 8px;
}
.flyingclass {
    background: radial-gradient(circle at 50% -60%, #4b6d81 60%, transparent 60.5%);
    border-radius: 8px;
}
.electricclass {
    background: radial-gradient(circle at 50% -60%, #efee32 60%, transparent 60.5%);
    border-radius: 8px;
}
.groundclass {
    background: radial-gradient(circle at 50% -60%, #ae7a35 60%, transparent 60.5%);
    border-radius: 8px;
}
.fairyclass {
    background: radial-gradient(circle at 50% -60%, #9f1843 60%, transparent 60.5%);
    border-radius: 8px;
}
.fightingclass {
    background: radial-gradient(circle at 50% -60%, #9d4221 60%, transparent 60.5%);
    border-radius: 8px;
}
.psychicclass {
    background: radial-gradient(circle at 50% -60%, #ab2c6c 60%, transparent 60.5%);
    border-radius: 8px;
}
.ghostclass {
    background: radial-gradient(circle at 50% -60%, #33346d 60%, transparent 60.5%);
    border-radius: 8px;
}
.rockclass {
    background: radial-gradient(circle at 50% -60%, #4b180d 60%, transparent 60.5%);
    border-radius: 8px;
}
.iceclass {
    background: radial-gradient(circle at 50% -60%, #86dcff 60%, transparent 60.5%);
    border-radius: 8px;
}
.dragonclass {
    background: radial-gradient(circle at 50% -60%, #44929c 60%, transparent 60.5%);
    border-radius: 8px;
}
.darkclass {
    background: radial-gradient(circle at 50% -60%, #010506 60%, transparent 60.5%);
    border-radius: 8px;
}
.steelclass {
    background: radial-gradient(circle at 50% -60%, #647b73 60%, transparent 60.5%);
    border-radius: 8px;
}
.unknownclass {
    background: radial-gradient(circle at 50% -60%, #000000 60%, transparent 60.5%);
    border-radius: 8px;
}